
.StepOne{
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;


}
.Container{
    max-width: 50%;
    font-family: Proxima Nova,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    flex-direction: column;

    text-align: left;

}
.title{
    line-height: 58px;
    color: rgba(0, 0, 0, 0.6);

}
.title__text{
    margin-bottom:20px ;
    line-height: 48px;
    color: #000000;
}
.description{
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: left;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
}
.button__1 {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: black;
    width: 380px;
    min-height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    text-decoration: none;

}
@media (max-width: 9999px){
    .description__text{
        font-size: 18px;
        line-height: 22px;
    }
    .second__description{

        margin-bottom: 40px;
    }
    .description__text{
        margin-bottom: 20px;
    }
    .title{

        margin:128px 0 40px 0 ;
    }
    .title__text{
        margin-bottom:20px ;

    }
    .first__description{

        margin-left: 20px;
    }
    .second__description{
        margin-left: 20px;


    }
    .StepOne__img{
        max-width: 477px;
        max-height: 501px;

    }
}
@media (max-width: 1140px) {
    .button__1{
        width: 280px;
        max-width: 281px;
        min-height: 40px;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
    }
    .title{
        font-size: 30px;
        line-height: 37px;
        margin:50px 0 40px 0 ;
    }
    .title__text{
        font-size: 30px;
        line-height: 30px;
        max-width: 280px;
    }
    .description__text{
        font-size: 14px;
        line-height: 17px;
        max-width: 334px;
        margin-bottom: 10px;
    }
    .StepOne__img img{
        max-width: 243px;
        max-height: 255px;
    }
    .number{
        font-size: 14px;
        line-height: 17px;
    }
    .description{
        font-size: 14px;
        line-height: 17px;
    }
    .second__description{
        margin-bottom: 10px;
    }
    .title{

        margin-bottom:10px ;
    }
    .title__text{
        margin-bottom:10px ;

    }
    .first__description{

        margin-left: 10px;
    }
    .second__description{
        margin-left: 10px;

    }
    .StepOne__img{
        max-width: 243px;
        max-height: 255px;

    }
}
@media (max-width: 665px) {
    .StepOne__img img{
        display: none;
    }
    .Container{
        max-width: 100%;


    }
    .title{
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 15px 20px;
    }
    .title__text{
        margin: 0 0 10px 20px ;
        font-size: 20px;
        line-height: 20px;
    }
    .first__description{
        font-size: 12px;
        line-height: 15px;
        margin-left: 30px;
    }
    .second__description{
        font-size: 12px;
        line-height: 15px;
        margin-left: 30px;

    }.description__text{
             font-size: 12px;
             line-height: 15px;
         max-width: 280px;
         margin-bottom: 10px;
        margin-left: 20px;
     }
    .button__1{
        width: 280px;
        max-width: 281px;
        height: 40px;
        margin-left: 20px;
        margin-bottom: 40px;
    }


}
.StepOne__img{
    margin: 65px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description__text{
    font-weight: normal;

    color: rgba(0, 0, 0, 0.6);

}
.first__description{
    max-width: 340px;
    display: flex;
    flex-direction: row;

}
.second__description{

    display: flex;
    flex-direction: row;

}
.number{
    margin-right: 10px;
}
