.StepOne{
width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}
.Container{
max-width: 50%;
    font-family: Proxima Nova,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

}
.title{
    line-height: 58px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom:40px ;
}
.title__text{
    margin-bottom:20px ;
    line-height: 48px;
    color: #000000;
}
.description{
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: left;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
}
.button__1 {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: black;
    width: 380px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    text-decoration: none;

}
.StepOne__img{
    max-width: 50%;
}
.description__text{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
}
.first__description{
min-width: 340px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.second__description{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.number{
    margin-right: 10px;
}
