.header{
    background: #EEEEEE;
    min-width: 100%;
    max-height: 176px;
}
.header__container{
    max-width: 1180px;
    min-height: 176px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
    margin: 0 auto;
}
.header__description{
    font-family: Proxima Nova,sans-serif;
    font-style: normal;
    width: 100%;



}
.header__img{
    max-width: 440px;
    margin: 0 auto;
}
.header__img img {
    position:relative;
    bottom:-6px;
    max-width: 440px;
    max-height: 165px;
}
.header__description__title{
    font-weight: bold;
    font-size: 44px;
    line-height: 58px;
    color: #000000;

    margin: 0 auto 10px auto;
}
.header__description__text{
    font-weight: normal;
    font-size: 23px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.6);
    max-width: 529px;
}
@media (max-width: 1140px) {
    .header__description__title{
        font-size: 30px;
        line-height: 37px;

    }
    .header__description__text{
        font-size: 16px;
        line-height: 19px;
        max-width: 360px;
    }
    .header__container{
        min-height: 110px;
    }
    .header{
        max-height: 110px;
    }
    .header__img img{
        max-width: 240px;
        max-height: 90px;
        bottom:-11px;
    }
    .header__container{
        padding: 0 40px;
    }
}
@media (max-width: 738px){
    .header__description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header__description__title{
        font-size: 20px;
        line-height: 24px;

    }
    .header__description__text{
        font-size: 12px;
        line-height: 15px;
        max-width: 281px;
        text-align: center;
    }
    .header__container{
        flex-direction: column;
        justify-content: center;
    }
    .header{
        max-height: 160px;
    }
    .header__img img{
        max-width: 240px;
        max-height: 90px;
        top: -5px;
    } .header__container{
          padding: 10px 20px 0 20px;

      }

}