.footer{
    width: 100%;
}

.Container{
    max-width: 1180px;
    margin: 0 auto;
}


@media (max-width: 4000px){
    .footer__text{

        padding: 20px 0 15px 0;
    }
}
@media (max-width: 1140px){
    .footer__text{
        font-size: 14px;
        line-height: 17px;
        padding: 20px 0 15px 40px;
    }
}