.contacts{
    width: 100%;
    background:
            rgba(245, 245, 245, 1);
}
.container{
    max-width: 1180px;
    max-height: 166px;
    margin: 0 auto;
}
.contacts__flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    font-family: Proxima Nova,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 100%;


}
@media (max-width: 99999px){
    .contacts__flex{
        padding: 30px 200px 30px 0;
    }
    .first__column{

        font-size: 18px;
        line-height: 22px;

    }
}
@media (max-width: 1140px){
    .contacts__flex{
        padding: 30px 200px 30px 40px;
    }
}
@media (max-width: 900px){
    .contacts__flex{
        padding: 30px 40px 30px 40px;
    }
    .first__column{
        font-size: 14px;
        line-height: 17px;
    }
    .second__column{
        font-size: 14px;
        line-height: 17px;
    }
    .third__column{
        font-size: 14px;
        line-height: 17px;
    }
}
@media (max-width: 660px){
    .contacts__flex{
        flex-direction: column;
    }
    .container{

        max-height: 214px;
        margin: 0 auto;
    }
    .contacts{
    display: flex;
        align-items: center;
        justify-content: center;
    }
    .contacts__flex{
        padding: 30px 40px 30px 80px;
    }
    .adaptive__div{
        margin-bottom: 18px;
    }
}
.first__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.second__column{
    display: flex;
    flex-direction: column;


}
.third__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
}
.item{
    width: 160px;
    margin-bottom: 10px;
}
.item__1{
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}
.adaptive__div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}